* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Lobster", cursive;
	color: white;
	/* font-size: 100px; */
}
body {
	background-color: rgb(13, 17, 23);
}
.parallax-container {
	position: relative;
	text-align: center;
}
.parallax-container img,
.rellax {
	width: 100%;
	height: 100vh;
}
.rellax {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 40%;
	font-size: 70px;
	z-index: 10;
	/* border: 1px solid; */
}
.kenburns-top {
	animation: kenburns-top 5s ease-in-out infinite alternate both;
}
.blur-out-expand-fwd {
	-webkit-animation: blur-out-expand-fwd 5s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
	animation: blur-out-expand-fwd 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		infinite alternate both;
}
.puff-in-center {
	-webkit-animation: puff-in-center 5s cubic-bezier(0.47, 0, 0.745, 0.715)
		infinite alternate-reverse both;
	animation: puff-in-center 5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite
		alternate-reverse both;
}
@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}
@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}
	100% {
		-webkit-transform: scale(1.25) translateY(-15px);
		transform: scale(1.25) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}
@-webkit-keyframes blur-out-expand-fwd {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
@keyframes blur-out-expand-fwd {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.container > div {
	width: 32%;
	height: 50vh;
	margin-bottom: 25px;
}
.container > div > * {
	border-radius: 30px;
}
